# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.pyc

# Virtual Environment
venv/
.env/

# Flask specific
instance/
.webassets-cache

# Docker
*.dockerfile
.docker/
docker-compose.override.yml

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
